[Unit]
Description=Newsletter Tracking Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/niousletter
EnvironmentFile=/etc/newsletter-engine/.env
Environment=PYTHONPATH=/opt/niousletter/pydeps/lib/python3.*/site-packages
ExecStart=/usr/bin/python3 -m src.app
Restart=always

[Install]
WantedBy=multi-user.target
